.font {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
}
#font-miring{
    color: black;
}
#font-biru{
    color: blue;
}
.gbr{
    width: 50%;
    height: 100px;
    background-color: black;
}
.video{
    width: 50%;
    height: 400px;
    background-color: blue;
}
#set-video{
    width: 100%;
    height: 100%;
}
.jdl-web{
    text-align: center;
    
}
#galery{
    width: 50%;
    height: 400px;
    background-color: coral;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.photo{
    width: 100%;
    height: 50px;
    background: linear-gradient(black,transparent);
    
    justify-content: space-evenly;
}
#lingkaran{
    width: 50%;
    height: 50px;
    background-color: darkblue;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
@media only screen and (max-width: 600px){
    .gbr{
        width: 100%;
    }
    .video{
        width: 100%;
    }
    .jdl-web{
        color: red;
        font-style: italic;
        background-color: aqua;
    }
    #galery{
        width: 100%;
        display: block;
    }
    .photo{
        width: 100%;
    }
}
img{
    width: 100%;
    height: 100px;
}
@media only screen and (max-width: 400px){
    #aerox{
        display: none;
    }
    body{
        background-color: black;
    }
    .video{
        margin-top: 400px;
        width: 100%;
    }
}